<center>
<div class="jumbotron">
  <h1>Witaj na moim blogu <%= current_user.name %>!</h1>
  <p>Aby stworzyć nowy temat wejdź w link poniżej:</p>
  <p><a class="btn btn-primary btn-lg" href="/temats/new" role="button">Create Temat</a></p>
</div>


