<h1><b> Spis Treści: </b></h1>
  <h3><%= link_to 'Create Temat', new_temat_path(@temat), class: "btn btn-info btn-lg" %></h3><br>
    <h2>Tematy:</h2>

  <tbody>
    <% @temats.each do |temat| %><br>
      <tr>
        <h4><%= link_to temat.title, temat %></h4>
      </tr>
      <tr>
        <i><%= temat.description if current_user.admin? %></i>
      </tr>&nbsp;
      <tr>
        <%= link_to 'Usuń Temat', temat, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin? %>
      </tr>
    <% end %>
  </tbody>
</table>
